#app {
      background-image: url('https://ik.imagekit.io/abhi023/gifs/carHome.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh; /* Ensures the background covers the full height of the viewport */
  
      /* Mobile-specific adjustments */
      @media (max-width: 768px) {
          background-size: contain; /* Scales the image to fit within the viewport */
          background-position: top; /* Aligns the image more towards the top */
      }
  
      @media (max-width: 480px) {
          background-size: cover; /* Ensures the image covers the entire background on smaller screens */
          background-position: center; /* Centers the image on very small screens */
          height: 50vh;
      }
      @media (max-width: 430px) {
          background-size: cover; /* Ensures the image covers the entire background on smaller screens */
          background-position: center; /* Centers the image on very small screens */
          height: 40vh;
      }
  }
  